<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7946908578-e9ckeevjir5av7qni6tsrhk46hvbhqha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7946908578-e9ckeevjir5av7qni6tsrhk46hvbhqha</string>
	<key>API_KEY</key>
	<string>AIzaSyB6YJto_E9Dh6HelAri2KdbVibTUKQ8Epc</string>
	<key>GCM_SENDER_ID</key>
	<string>7946908578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fleshchat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fleshchatkg</string>
	<key>STORAGE_BUCKET</key>
	<string>fleshchatkg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7946908578:ios:48552d9f47e0d86c3378fb</string>
</dict>
</plist>